.Input {
  font-family: 'DM Sans', sans-serif;
  border-radius: 2px;
  border: 1px solid #eee;
  height: 56px;
  width: 100%;
  text-indent: 16px;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid #0c0c83;
  }
}