.Form {
  padding: 20px 40px;
  font-family: 'DM Sans', sans-serif;

  &__Editor {
    width: 100%
  }

  .rdw-editor-main {
    min-height: 100px;
    border: 1px solid #eee;
  }

  &__Answer {
    margin-top: 40px;
  }

  &__Button {
    margin-top: 40px;
  }
}