.Button {
  &__Primary {
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    padding: 12px 14px;
    background: blue;
    border: none;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;

    &:hover {
      background: #0c0c83;
    }
  }

  &__Secondary {
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    padding: 12px 14px;
    background: darkgray;
    border: none;
    letter-spacing: 0.5px;
    text-align: center;
    color: black;
    font-size: 14px;
    border: 1px solid darkgray;
  }
}